$marginNum:"";
@for $i from 1 through 100{
    @if $i < 10{
        $marginNum:"0#{$i}";
    }
    @else{
        $marginNum:"#{$i}";
    }
    .u-mt#{$marginNum}{margin-top:#{$marginNum}px !important;}
    .u-mr#{$marginNum}{margin-right:#{$marginNum}px !important;}
    .u-mb#{$marginNum}{margin-bottom:#{$marginNum}px !important;}
    .u-ml#{$marginNum}{margin-left:#{$marginNum}px !important;}
    .u-m#{$marginNum}{margin:#{$marginNum}px !important;}
} 